<div class="text-center center">
  <main class="form-signin w-25 m-auto">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%# <img class="mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> %>
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
      <div class="form-floating">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', id: "floatingInput", placeholder: "name@example.com" %>
        <%= f.label :email, "Email address", for: "floatingInput" %><br />
      </div>
      <div class="form-floating">
        <%= f.password_field :password, autocomplete: "current-password", class:"form-control", id: "floatingPassword", placeholder: "Password" %>
        <%= f.label :password, for: "floatingPassword" %><br />
      </div>
      <div class="checkbox mb-3">
        <% if devise_mapping.rememberable? %>
          <%= f.check_box :remember_me, value: "remember-me" %>
          <%= f.label :remember_me %>
        <% end %>
      </div>
      <div class="actions">
        <%= f.submit "Sign in", class: "w-100 btn btn-lg btn-primary", type: "submit" %>
      </div>
      <p class="mt-5 mb-3 text-muted">© 2017–2022</p>
    <% end %>
  </main>
  <%= render "devise/shared/links" %>
</div>
